In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("final_dataset.csv",index_col=0) 
data

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
City,,,,,,,,,,,,,,,
Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [3]:
data2 = pd.read_csv("final_dataset2.csv",index_col=0) 
data2

,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
City,,,,,,,,,,,,,,,
Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Visakhapatnam,2020-06-30 20:00:00,9.50,36.00,2.75,25.57,15.85,4.57,0.62,NaN,27.75,NaN,NaN,NaN,51.0,Satisfactory
Visakhapatnam,2020-06-30 21:00:00,17.25,49.25,3.62,33.20,20.62,3.78,0.76,2.02,25.58,NaN,NaN,NaN,51.0,Satisfactory
Visakhapatnam,2020-06-30 22:00:00,36.00,71.00,2.20,30.80,18.20,3.67,0.58,1.77,26.15,NaN,NaN,NaN,50.0,Good
Visakhapatnam,2020-06-30 23:00:00,15.75,63.00,1.02,28.90,16.00,3.80,0.49,0.75,15.82,NaN,NaN,NaN,50.0,Good
Visakhapatnam,2020-07-01 00:00:00,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [4]:
data3 = pd.read_csv("test2.csv",index_col=0) 
data3

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,StationName,State,Status,Region,Month,Year,Season,Weekday_or_weekend,Regular_day_or_holiday,AQ_Acceptability
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,...,"Maninagar, Ahmedabad - GPCB",Gujarat,Active,5. Western,01. Jan,2015,1. Winter,Weekday,Regular day,Unacceptable
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,...,"Maninagar, Ahmedabad - GPCB",Gujarat,Active,5. Western,01. Jan,2015,1. Winter,Weekday,Regular day,Unacceptable
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,...,"Maninagar, Ahmedabad - GPCB",Gujarat,Active,5. Western,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,...,"Maninagar, Ahmedabad - GPCB",Gujarat,Active,5. Western,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,...,"Maninagar, Ahmedabad - GPCB",Gujarat,Active,5. Western,01. Jan,2015,1. Winter,Weekday,Regular day,Unacceptable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186665,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,...,"GVM Corporation, Visakhapatnam - APPCB",Andhra Pradesh,Active,5. Western,06. Jun,2020,3. Monsoon,Weekend,Regular day,Acceptable
186666,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,...,"GVM Corporation, Visakhapatnam - APPCB",Andhra Pradesh,Active,5. Western,06. Jun,2020,3. Monsoon,Weekend,Regular day,Acceptable
186667,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,...,"GVM Corporation, Visakhapatnam - APPCB",Andhra Pradesh,Active,5. Western,06. Jun,2020,3. Monsoon,Weekday,Regular day,Acceptable
186668,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,...,"GVM Corporation, Visakhapatnam - APPCB",Andhra Pradesh,Active,5. Western,06. Jun,2020,3. Monsoon,Weekday,Regular day,Acceptable
186669,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,...,"GVM Corporation, Visakhapatnam - APPCB",Andhra Pradesh,Active,5. Western,07. Jul,2020,3. Monsoon,Weekday,Regular day,Acceptable

In [5]:
data3.isna().sum()

City                           0
Date                           0
PM2.5                      20808
PM10                       54923
NO                         16880
NO2                        16971
NOx                        12768
NH3                        47374
CO                          3707
SO2                        21429
O3                         21818
Benzene                    15141
Toluene                    23612
Xylene                    100131
AQI                        21650
AQI_Bucket                     0
StationId                      0
StationName                    0
State                          0
Status                         0
Region                         0
Month                          0
Year                           0
Season                         0
Weekday_or_weekend             0
Regular_day_or_holiday         0
AQ_Acceptability               0
dtype: int64

In [6]:
start_range = 0
end_range = 118059
indexes_to_drop = data3.index.intersection(range(start_range, end_range))
data3 = data3.drop(indexes_to_drop)

In [7]:
data3.shape

(68611, 27)

In [8]:
data3.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,StationName,State,Status,Region,Month,Year,Season,Weekday_or_weekend,Regular_day_or_holiday,AQ_Acceptability
118059,Hyderabad,2015-01-04,NaN,NaN,3.7,17.19,20.89,NaN,0.3,2.58,...,"Bollaram Industrial Area, Hyderabad - TSPCB",Telangana,Active,6. Southern,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable
118060,Hyderabad,2015-01-04,NaN,NaN,3.7,17.19,20.89,NaN,0.3,2.58,...,"Central University, Hyderabad - TSPCB",Telangana,Active,6. Southern,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable
118061,Hyderabad,2015-01-04,NaN,NaN,3.7,17.19,20.89,NaN,0.3,2.58,...,"ICRISAT Patancheru, Hyderabad - TSPCB",Telangana,Active,6. Southern,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable
118062,Hyderabad,2015-01-04,NaN,NaN,3.7,17.19,20.89,NaN,0.3,2.58,...,"IDA Pashamylaram, Hyderabad - TSPCB",Telangana,Active,6. Southern,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable
118063,Hyderabad,2015-01-04,NaN,NaN,3.7,17.19,20.89,NaN,0.3,2.58,...,"Sanathnagar, Hyderabad - TSPCB",Telangana,Active,6. Southern,01. Jan,2015,1. Winter,Weekend,Regular day,Unacceptable

In [9]:
start_range = 130095
end_range = 186670
indexes_to_drop = data3.index.intersection(range(start_range, end_range))
data3 = data3.drop(indexes_to_drop)

In [10]:
data3.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,StationName,State,Status,Region,Month,Year,Season,Weekday_or_weekend,Regular_day_or_holiday,AQ_Acceptability
130090,Hyderabad,2020-07-01,26.83,66.5,2.94,27.18,16.13,9.32,0.43,6.07,...,"Central University, Hyderabad - TSPCB",Telangana,Active,6. Southern,07. Jul,2020,3. Monsoon,Weekday,Regular day,Acceptable
130091,Hyderabad,2020-07-01,26.83,66.5,2.94,27.18,16.13,9.32,0.43,6.07,...,"ICRISAT Patancheru, Hyderabad - TSPCB",Telangana,Active,6. Southern,07. Jul,2020,3. Monsoon,Weekday,Regular day,Acceptable
130092,Hyderabad,2020-07-01,26.83,66.5,2.94,27.18,16.13,9.32,0.43,6.07,...,"IDA Pashamylaram, Hyderabad - TSPCB",Telangana,Active,6. Southern,07. Jul,2020,3. Monsoon,Weekday,Regular day,Acceptable
130093,Hyderabad,2020-07-01,26.83,66.5,2.94,27.18,16.13,9.32,0.43,6.07,...,"Sanathnagar, Hyderabad - TSPCB",Telangana,Active,6. Southern,07. Jul,2020,3. Monsoon,Weekday,Regular day,Acceptable
130094,Hyderabad,2020-07-01,26.83,66.5,2.94,27.18,16.13,9.32,0.43,6.07,...,"Zoo Park, Hyderabad - TSPCB",Telangana,Active,6. Southern,07. Jul,2020,3. Monsoon,Weekday,Regular day,Acceptable

In [12]:
data3.shape

(12036, 27)

In [13]:
data3.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket', 'StationId',
       'StationName', 'State', 'Status', 'Region', 'Month', 'Year', 'Season',
       'Weekday_or_weekend', 'Regular_day_or_holiday', 'AQ_Acceptability'],
      dtype='object')

In [14]:
data3.drop(['City', 'Date','NO','NOx', 'NH3',
        'Benzene', 'Toluene', 'Xylene', 'AQI_Bucket', 'StationId',
       'StationName', 'State', 'Status', 'Region', 'Month', 'Year', 'Season',
       'Weekday_or_weekend', 'Regular_day_or_holiday', 'AQ_Acceptability'],axis=1,inplace=True)

In [15]:
data3

        PM2.5  PM10    NO2    CO   SO2     O3   AQI
118059    NaN   NaN  17.19  0.30  2.58  30.34   NaN
118060    NaN   NaN  17.19  0.30  2.58  30.34   NaN
118061    NaN   NaN  17.19  0.30  2.58  30.34   NaN
118062    NaN   NaN  17.19  0.30  2.58  30.34   NaN
118063    NaN   NaN  17.19  0.30  2.58  30.34   NaN
...       ...   ...    ...   ...   ...    ...   ...
130090  26.83  66.5  27.18  0.43  6.07  13.20  48.0
130091  26.83  66.5  27.18  0.43  6.07  13.20  48.0
130092  26.83  66.5  27.18  0.43  6.07  13.20  48.0
130093  26.83  66.5  27.18  0.43  6.07  13.20  48.0
130094  26.83  66.5  27.18  0.43  6.07  13.20  48.0

[12036 rows x 7 columns]

In [18]:
data3.drop(['SO2'],axis=1,inplace=True)
data3

        PM2.5  PM10    NO2    CO     O3   AQI
118059    NaN   NaN  17.19  0.30  30.34   NaN
118060    NaN   NaN  17.19  0.30  30.34   NaN
118061    NaN   NaN  17.19  0.30  30.34   NaN
118062    NaN   NaN  17.19  0.30  30.34   NaN
118063    NaN   NaN  17.19  0.30  30.34   NaN
...       ...   ...    ...   ...    ...   ...
130090  26.83  66.5  27.18  0.43  13.20  48.0
130091  26.83  66.5  27.18  0.43  13.20  48.0
130092  26.83  66.5  27.18  0.43  13.20  48.0
130093  26.83  66.5  27.18  0.43  13.20  48.0
130094  26.83  66.5  27.18  0.43  13.20  48.0

[12036 rows x 6 columns]

In [19]:
data3.reset_index(drop=True,inplace=True)
data3

       PM2.5  PM10    NO2    CO     O3   AQI
0        NaN   NaN  17.19  0.30  30.34   NaN
1        NaN   NaN  17.19  0.30  30.34   NaN
2        NaN   NaN  17.19  0.30  30.34   NaN
3        NaN   NaN  17.19  0.30  30.34   NaN
4        NaN   NaN  17.19  0.30  30.34   NaN
...      ...   ...    ...   ...    ...   ...
12031  26.83  66.5  27.18  0.43  13.20  48.0
12032  26.83  66.5  27.18  0.43  13.20  48.0
12033  26.83  66.5  27.18  0.43  13.20  48.0
12034  26.83  66.5  27.18  0.43  13.20  48.0
12035  26.83  66.5  27.18  0.43  13.20  48.0

[12036 rows x 6 columns]

In [20]:
data3.fillna(value=0,inplace=True)
data3

       PM2.5  PM10    NO2    CO     O3   AQI
0       0.00   0.0  17.19  0.30  30.34   0.0
1       0.00   0.0  17.19  0.30  30.34   0.0
2       0.00   0.0  17.19  0.30  30.34   0.0
3       0.00   0.0  17.19  0.30  30.34   0.0
4       0.00   0.0  17.19  0.30  30.34   0.0
...      ...   ...    ...   ...    ...   ...
12031  26.83  66.5  27.18  0.43  13.20  48.0
12032  26.83  66.5  27.18  0.43  13.20  48.0
12033  26.83  66.5  27.18  0.43  13.20  48.0
12034  26.83  66.5  27.18  0.43  13.20  48.0
12035  26.83  66.5  27.18  0.43  13.20  48.0

[12036 rows x 6 columns]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
data_train,data_test=train_test_split(data3,test_size=0.2,random_state=2)
data_train.reset_index(drop=True,inplace=True)
data_test.reset_index(drop=True,inplace=True)

In [23]:
x_train=data_train.drop(["AQI"],axis=1)
y_train=data_train["AQI"]
x_test=data_test.drop(["AQI"],axis=1)
y_test=data_test["AQI"]

In [24]:
x_train

      PM2.5    PM10    NO2    CO     O3
0     79.18  164.76  60.89  1.00  58.03
1     55.10  107.95  48.47  0.64  27.57
2     36.05  146.83  23.87  0.43  47.23
3     62.77  102.95  10.25  0.89  50.96
4     55.60  118.88  49.58  0.57  33.69
...     ...     ...    ...   ...    ...
9623  29.42   80.62   8.10  0.87  24.43
9624  44.09  147.59  35.83  0.62  35.20
9625  72.38  141.02  54.79  1.16  48.64
9626  41.44   75.47   9.64  0.75  38.46
9627  33.83   74.91  31.53  0.63  45.59

[9628 rows x 5 columns]

In [25]:
y_train

0       174.0
1       104.0
2       119.0
3       120.0
4       108.0
        ...
9623    100.0
9624    122.0
9625    140.0
9626     98.0
9627    101.0
Name: AQI, Length: 9628, dtype: float64

In [26]:
x_test

       PM2.5    PM10    NO2    CO     O3
0      20.60    0.00  15.87  8.83   9.17
1      11.98   35.51  42.12  0.03  22.95
2      40.12    0.00  18.06  1.83  32.89
3      15.95   38.56   8.82  0.39  19.48
4      14.52   43.56  24.38  0.27  17.72
...      ...     ...    ...   ...    ...
2403  177.62   98.01  25.50  1.73  25.90
2404   37.00    0.00   9.01  0.72  23.39
2405   57.22  103.72  19.75  1.28  31.38
2406   57.96   98.74   8.84  0.82  47.36
2407    0.00    0.00  21.35  0.47   9.41

[2408 rows x 5 columns]

In [27]:
y_test

0       248.0
1        47.0
2       157.0
3        42.0
4        54.0
        ...
2403    213.0
2404    108.0
2405    120.0
2406    121.0
2407      0.0
Name: AQI, Length: 2408, dtype: float64

In [28]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train, y_train)

RandomForestRegressor(random_state=42)

In [29]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [30]:
lr.fit(x_train,y_train)

LinearRegression()

In [31]:
y_pred=rf.predict(x_test)

In [32]:
y2_pred=lr.predict(x_test)

In [33]:
from sklearn.metrics import r2_score

In [34]:
mse1 = mean_squared_error(y_test, y_pred) # random forest regression
mse1

25.817334767440823

In [35]:
r2_score(y_test, y_pred)#random forest regression  close to 1 is good sign

0.9930025223819531

In [37]:
mse2 = mean_squared_error(y_test, y2_pred)#linear regression
mse2

1067.9504117983683